/* Global Styles */

body{
width: auto;
background-color: #242424;
font: 12px arial;
color: #dddddd;
text-align: justify;
}

h1{
margin:0;
font-size: 2em;
text-align:center;
padding:0 0.5em;
line-height:1.2em;
background: #33531C;
border-radius:0.5em 0.5em 0 0;
}


h2{
	font: 16px arial;
	color: #75B73D;
	font-weight: bold;
}

h3{
	font: 10px arial;
	color: #dddddd;
	text-align:center;
}

h4{
	font: 14px arial;
	color: #dddddd;
	font-weight: bold;
	text-decoration: underline;
}

a
{
	color: #75B73D;
	text-decoration: none;
}

a:hover
{
	color: #75B73D;
	text-decoration: underline;
}

img.center{
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

ul{
padding:0 1.2em 1.2em;
}

ol{
padding:0 1.2em 1.2em;
list-style-type:square;
}



